<!--
<ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
    <li ng-hide="auth"><a href="#/login">login</a></li>
    <li ng-show="auth"><a href="#/account">account</a></li>
</ul>
-->
<div class="mainHeader">
    <div class="container">
        <div class="mainTitle">ARTPRTY</div>
        <!-- <div class="accountInfo">Join Login</div> -->
        <a class="loginbtn btn btn-xs" href="/">Login</a>
        <a class="loginbtn btn btn-xs" style="margin-right:10px;" href="/">Join</a>
    </div>
</div>

